<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <div class="navbar">
      <!-- onclick="history.back()" -->
      <a routerLink="/background"
        ><i class="fa fa-arrow-left" style="color: white"></i
      ></a>
      <span>Credits & Sponsors</span>
    </div><br>

    <div class="container"><br>
      <div class="box">
        <h2 style="text-align: center;">City Government of Sorsogon</h2>

      <h3  style="text-align: center;">Descriptions here</h3>
      <img src="assets/image/person.jpg" alt="" class="img1" />
      <h2 style="text-align: center;">Name of the Person</h2>

      <h3 style="text-align: center;">Mayor</h3>
      </div>
      <p><i>Insert Description...</i></p>
      <br />
      <h3>Message</h3>
      <p><i>Insert Description...</i></p>
      <br />
    </div>
  </body>
</html>
