<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="wrapper box">
      <div class="single-box"><img alt="" src="assets/image/image1.jpg" /></div>
      <div class="single-box">
        <img alt="" src="assets/image/image7.webp" />
      </div>
      <div class="single-box"><img alt="" src="assets/image/image6.jpg" /></div>
      <div class="single-box">
        <img alt="" src="assets/image/image5.webp" />
      </div>
      <div class="text-block">
        <div class="myform">
          <div class="logo">
            WOW!
            <div class="logo2">SORSOGON</div>
            <b>"Its more FUN in Sorsogon"</b>
          </div>
          <form>
            <input
              type="email"
              id="inputEmail"
              name="email"
              placeholder="Input valid email"
              class="form-control"
              [(ngModel)]="email">
            <input
              type="number"
              id="inputPassword"
              name="password"
              placeholder=" &#xf023; Input valid number"
              class="form-control"
               [(ngModel)]="password">
              <!--
                <div class="alert alert-danger" role="alert" *ngIf="isFormValid">
                Please fill all fields.
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="areCredentialsInvalid">
                Invalid user or password.
            </div>
              -->

            <div class="flex-container">
              <div>
                <a href="sign-up">Create Account</a>
              </div>
              <div>
                <a href="others">Forgot Credentials</a>
              </div>
            </div>
            <button  type="button" (click)="login()">SIGN IN</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

<!--
<div class="login-wrapper">
    <div class="card">
        <div class="card-body">
            <form class="form-signin" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

                <label for="inputlogin" class="sr-only">Login </label>
                <input type="text" id="inputLogin" class="form-control" name="login" placeholder="Login" ngModel
                    required autofocus>

                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password"
                    autocomplete="on" ngModel required>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                <div class="alert alert-danger" role="alert" *ngIf="isFormValid">
                    Please fill all fields.
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="areCredentialsInvalid">
                    Invalid user or password.
                </div>
            </form>
        </div>
    </div>
</div>



  <div class="container">
  <div class="details">
    <app-title title="Login"></app-title>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="input-container">
      <label>Email</label>
      <div>
        <input type="email" placeholder="Email" formControlName="email"/>
      </div>
      <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
        <div *ngIf="fc.email.errors.required">Should not be empty</div>
        <div *ngIf="fc.email.errors.email">Email is not correct</div>
      </div>
    </div>

    <div class="input-container">
      <label>Password</label>
      <div>
        <input type="password" placeholder="Password"
        formControlName="password"/>
      </div>
      <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
        <div *ngIf="fc.password.errors.required">Should not be empty</div>
      </div>
    </div>

    <div class="button">
      <button type="submit">Login</button>
    </div>
    </form>
  </div>
</div>
-->
