<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="wrapper box">
      <div class="single-box"><img alt="" src="assets/image/image1.jpg" /></div>
      <div class="single-box">
        <img alt="" src="assets/image/image7.webp" />
      </div>
      <div class="single-box"><img alt="" src="assets/image/image6.jpg" /></div>
      <div class="single-box">
        <img alt="" src="assets/image/image5.webp" />
      </div>
      <div class="text-block">
        <div class="myform">
          <div class="logo">
            WOW!
            <div class="logo2">SORSOGON</div>
            <b>"Its more FUN in Sorsogon"</b>
          </div>
          <form [formGroup]="loginForm">
            <input
              type="text"
              placeholder=" &#xf023;  Number"
              formControlName="number"
            /><div class="error-list" *ngIf="fc.number.errors && isSubmitted">
              <div *ngIf="fc.number.errors.required">Should not be empty</div>
              <div *ngIf="fc.number.errors.email">Email is not correct</div>
            </div>
            <div class="flex-container">
              <div>
                <a href="/sign-up">Create Account</a>
              </div>
              <div>
                <a href="/others">Forgot Credentials</a>
              </div>
            </div>
            <button  type="submit" href="/background">SIGN ME IN</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

<!--
  <div class="container">
  <div class="details">
    <app-title title="Login"></app-title>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="input-container">
      <label>Email</label>
      <div>
        <input type="email" placeholder="Email" formControlName="email"/>
      </div>
      <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
        <div *ngIf="fc.email.errors.required">Should not be empty</div>
        <div *ngIf="fc.email.errors.email">Email is not correct</div>
      </div>
    </div>

    <div class="input-container">
      <label>Password</label>
      <div>
        <input type="password" placeholder="Password"
        formControlName="password"/>
      </div>
      <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
        <div *ngIf="fc.password.errors.required">Should not be empty</div>
      </div>
    </div>

    <div class="button">
      <button type="submit">Login</button>
    </div>
    </form>
  </div>
</div>
-->
