<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="header">
      <!-- onclick="history.back()" -->
      <a routerLink="/background"
        ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
      ></a>
      <span>Activities</span>
    </div>
<div class="logo">
  <img src="assets/image/activity5.jpg" alt="" class="img">
<img src="assets/image/logo3.png" alt="" class="img2">
</div>
<div class="gal">
  <h4 style="font-weight: 900;color:rgba(0, 0, 0, 0.546)">ACTIVITY LIST</h4>
</div>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/activity1.jpg" alt="" class="img1" >
          <h5>BASKETBALL
            <p><em> Insert details about basketball...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/activity2.png" alt="" class="img1" >
          <h5>VOLLEYBALL
            <p><em> Insert details about volleyball...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/activity3.jpg" alt="" class="img1" >
          <h5>BADMINTON
            <p><em> Insert details about badminton...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/activity6.jpg" alt="" class="img1" >
          <h5>ZUMBA
            <p><em> Insert details about zumba...</em></p>
          </h5>
        </div>
      </div>
    </a>
      <br>
    <div class="bottom">
      <img src="" alt="" class="img2">
    </div>
  </body>
</html>
