<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="logo">
    <img src="assets/image/logo1.png" alt="">
  </div>
  <div class="container">
    <div class="wrapper">

      <div>
          <a routerLink="/visit">
            <i class="fa fa-street-view" style="font-size:30px;color:rgb(255, 255, 255)"></i><br/>
            <span>&#160;&#160;&#160;&#160;Places to Visit</span>
          </a><br><br>
        <a routerLink="/venues">
          <i class="fa fa-building-o" style="font-size:30px;color:rgb(255, 255, 255)"></i><br/>
          <span>&#160;&#160;&#160;&#160;Meeting Venues</span>
        </a>
      </div>

      <div>
        <a routerLink="/stay">
          <i class="fa fa-bed" style="font-size:30px;color:rgb(255, 255, 255)"></i><br/>
          <span>Where to Stay</span>
        </a><br><br>
          <a routerLink="/health">
            <i class="fa fa-heartbeat" style="font-size:30px;color:rgb(255, 255, 255)"></i><br/>
            <span>Health & Wellness</span>
          </a>
      </div>
      <div>
        <a routerLink="/eat">
          <i class="fa fa-cutlery" style="font-size:30px;color:rgb(255, 255, 255)"></i> <br/>
          <span>Where to Eat</span>
        </a><br><br>
          <a routerLink="/product">
            <i class="fa fa-lock" style="font-size:30px;color:rgb(255, 255, 255)"></i><br/>
            <span>Local Product</span>
          </a>
      </div>
    </div>
  </div>


</body>
</html>
