<!DOCTYPE html>
<html lang="en">
  <head>
    <title>StickyMobile BootStrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="app/icons/icon-192x192.png"
    />

  </head>
  <div class="wrapper"><a routerLink="/booking"
    ><i class="fa fa-map" style="font-size:24px"></i><br /><span>Book Now!</span></a
  ></div>
  <div id="footer-bar" class="footer-bar-1">
    <a routerLink="/weather2">
      <i class="fa fa-cloud" style="font-size: 30px; color: white"></i
      ><br /><span>Weather</span></a
    >
    <a routerLink="/event"
      ><i class="fa fa-archive" style="font-size: 30px; color: white"></i
      ><br /><span>Events</span></a
    >
    <div class="logo"><a routerLink="/booking"
      ><i class="" style="font-size:24px"></i><br /><span></span></a
    ></div>

    <a routerLink="/activities"
      ><i class="fa fa-list-ul" style="font-size:30px;color:white"></i><span>Activities</span></a
    >
    <a (click)="toogleTag()">
      <i class="fa fa-info-circle" style="font-size: 30px; color: white"></i><br />
      <span>Others</span></a>

  </div>
  <div class="wrapper1" *ngIf="showMe">
    <div class="logo">
      <img src="assets/image/logo2.jpg" alt="">
    </div>
    <ul>
      <li><i class="material-icons" style="font-size:20px">language</i><a routerLink="/talk">Sorsogon Talk</a></li><br>
      <li><i class="material-icons" style="font-size:20px">directions_car</i><a routerLink="/transport">Transport Services</a></li><br>
      <li><i class="material-icons" style="font-size:20px">forward</i><a routerLink="/goingto">Going to Sorsogon</a></li><br>

      <label>Requires Data/Internet</label><br><br>
      <li><i class="material-icons" style="font-size:20px">event_note</i><a routerLink="/calendar">Calendar of Events</a></li><br>
      <li><i class="material-icons" style="font-size:20px">collections</i><a routerLink="/gallary">Event Gallery</a></li><br>
      <li><i class="material-icons" style="font-size:20px">video_library</i><a routerLink="/videos">Videos</a></li><br>

      <label>Others</label><br><br>
      <li><i class="material-icons" style="font-size:20px">vpn_key</i><a routerLink="/terms">Terms & conditions</a></li><br>
      <li><i class="material-icons" style="font-size:20px">people</i><a routerLink="/credits">Credits & sponsors</a></li><br>
      <li><i class="material-icons" style="font-size:20px">lock</i><a routerLink="/privacy">Privacy policy</a></li><br>
      <li><i class="material-icons" style="font-size:20px">perm_phone_msg</i><a routerLink="/contact">Contact Us</a></li><br>

      <label>Informations</label><br><br>
      <li><i class="material-icons" style="font-size:20px">error_outline</i><a routerLink="/about">About</a></li><br>
      <li><i class="material-icons" style="font-size:20px">help_outline</i><a routerLink="/help1">Help</a></li><br>
      <li><i class="material-icons" style="font-size:20px">settings</i><a routerLink="/settings">Settings</a></li><br>
      <li><i class="material-icons" style="font-size:20px">arrow_forward</i><a (click)="logOut()">Log Out</a></li><br>
    </ul>
  </div>

  <div class="wrapper2" *ngIf="logout"><br>
    <span>Are you sure you want to Log Out?</span><br><br>
    <a routerLink="/sign-in"><button class="btn1">Yes</button></a>
      &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
    <button class="btn2" *ngIf="showMe">No</button>
  </div>

</html>
<router-outlet></router-outlet>

<app-header></app-header>  <!--   <app-header *ngIf="showMe"></app-header>   -->


