<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">

      <div class="header">
        <!-- onclick="history.back()" -->
        <a href=""
          ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
        ></a>
        <span>Sorsogon Tourism Spot</span>
      </div>

      <img src="assets/image/malawmawan.png" alt="" class="img1" />
      <div class="content">
        <h4>Malawmawan Island</h4>
        <h5>Photo courtesy </h5>
        <br />
        <p>
          <b>Malawmawan Island</b>
          Malawmawan Island is an underdeveloped, isolated island off the port of Macalaya town. The island features long stretches of beaches, a beautiful but slightly polluted sandbar, and a secluded lagoon. The island was originally open to overnight stays, but it is currently inhabited by a family claiming ownership of the land. With its lack of amenities and existing ownership disputes, guests are advised to visit the island at their own risk.
        </p>
        <br />
        <h6>
          <i class="fa fa-map-marker" style="font-size: 20px; color: red"></i>
          Malawmawan Island, Castilla, Sorsogon
        </h6>
        <br><br>
        <h6>
          insert picture
        </h6><br>
      </div>
    </div>
  </body>
</html>

