<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <!-- onclick="history.back()" -->
        <a routerLink="/visit1"
          ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
        ></a>
        <span>Sorsogon Tourist Spot</span>
      </div><br><br>

      <img src="assets/image/malawmawan.png" alt="" class="img1" />
      <div class="content">
        <h4>Malawmawan Island</h4>
        <h5>Photo courtesy</h5>
        <br />
        <p>
          <b>Malawmawan Island</b>
          Malawmawan Island is an underdeveloped, isolated island off the port
          of Macalaya town. The island features long stretches of beaches, a
          beautiful but slightly polluted sandbar, and a secluded lagoon. The
          island was originally open to overnight stays, but it is currently
          inhabited by a family claiming ownership of the land. With its lack of
          amenities and existing ownership disputes, guests are advised to visit
          the island at their own risk.
        </p>
        <br /><br />
        <h6>
          <i class="fa fa-map-marker" style="font-size: 20px; color: red"></i>
          Malawmawan Island, Castilla, Sorsogon
        </h6>
        <br />
        <div class="wrapper">
          <input type="radio" name="image-slide" checked="checked" />

          <img src="assets/image/malawmawan1.jpg" alt="Random Picture 1" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/malawmawan2.jpg" alt="" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/malawmawan3.jpg" alt="" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/malawmawan4.jpg" alt="" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/malawmawan5.jpg" alt="" />
        </div>
        <a
          href="https://www.google.com/maps/place/Malawmawan+Beach/@12.8548354,123.7541946,14.27z/data=!4m9!1m2!2m1!1smalawmawan+island+sorsogon!3m5!1s0x33a120c250000001:0xc003b32481914717!8m2!3d12.8415059!4d123.7664382!15sChptYWxhd21hd2FuIGlzbGFuZCBzb3Jzb2dvblocIhptYWxhd21hd2FuIGlzbGFuZCBzb3Jzb2dvbpIBBWJlYWNomgEkQ2hkRFNVaE5NRzluUzBWSlEwRm5TVVJYZW5JMmJXOTNSUkFC4AEA?hl=en"
        >
          <button class="button1">VIEW MAP</button>
        </a>
      </div>
    </div>
  </body>
</html>
