<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <!-- onclick="history.back()" -->
        <a routerLink="/visit1"
          ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
        ></a>
        <span>Sorsogon Tourist Spot</span>
      </div><br><br>

      <img src="assets/image/malawmawan.png" alt="" class="img1" />
      <div class="content">
        <h4>Malawmawan Island</h4>
        <h5>Photo courtesy</h5>
        <br />
        <p style="
        background-color: rgba(143, 204, 215, 0.642);
        padding:10px;
        border-radius:10px;
        text-align: justify;
        text-indent: 50px;
        ">
          <b>Malawmawan Island</b>
          Malawmawan Island is an underdeveloped, isolated island off the port
          of Macalaya town. The island features long stretches of beaches, a
          beautiful but slightly polluted sandbar, and a secluded lagoon. The
          island was originally open to overnight stays, but it is currently
          inhabited by a family claiming ownership of the land. With its lack of
          amenities and existing ownership disputes, guests are advised to visit
          the island at their own risk.
        </p>
        <br /><br />
        <h6>
          <i class="fa fa-map-marker" style="font-size: 20px; color: red"></i>
          Malawmawan Island, Castilla, Sorsogon
        </h6>
        <br />
        <div class="wrapper">
          <input type="radio" name="image-slide" checked="checked" />

          <img src="assets/image/malawmawan1.jpg" alt="Random Picture 1" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/malawmawan2.jpg" alt="" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/malawmawan3.jpg" alt="" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/malawmawan4.jpg" alt="" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/malawmawan5.jpg" alt="" />
        </div>
        <a (click)="toogleTagmap()">
          <button class="button1">VIEW MAP</button>
        </a>
      </div>
    </div>

    <div class="map" *ngIf="map">
      <a (click)="toogleTagmap()">
        <h3 style="
        text-align: right;
        padding-right: 20px;
        padding-top: 10px;
        background: linear-gradient(
          rgb(0, 0, 0),
          rgba(72, 73, 74, 0.169)
        );
        position: fixed;
        width: 96%;
        height: 3%;
        border-radius: 10px 10px 0px 0px;
        color: white;
      ">x</h3><br><br>
      </a>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15560.108327302649!2d123.75768341126634!3d12.84152647618344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a120c250000001%3A0xc003b32481914717!2sMalawmawan%20Beach!5e0!3m2!1sen!2sph!4v1665061533934!5m2!1sen!2sph" width="100%" height="96%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </body>
</html>
