<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <!-- onclick="history.back()" -->
        <a routerLink="/visit1"
          ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
        ></a>
        <span>Sorsogon Tourist Spot</span>
      </div>

      <img src="assets/image/whale.jpg" alt="" class="img1" />
      <div class="content">
        <h4>Whale Shark</h4>
        <h5>Photo courtesy</h5>
        <br />
        <p>
          <b>Donsol</b> is one of the best tourist spots in Sorsogon, a
          world-renowned site for whale shark watching and interaction tours.
          Whale sharks are rarely to be seen but onsite, the gentle giants are
          freely swimming and eating the abundant plankton and krill. The whale
          shark interaction tour is very affordable and should be arranged in
          Donsol Visitors Center. Tourists with snorkeling gears will aboard a
          boat with the boatmen, guide and spotter. The boat will be positioned
          to the site where the whale sharks are and tourists go swim with the
          4-12 feet harmless giants. February to May is the reported peak
          season.
        </p>
        <br /><br />
        <h6>
          <i class="fa fa-map-marker" style="font-size: 20px; color: red"></i>
          Donsol Whale Shark Interaction Site is located in Barangay Dancalan,
          Donsol, Sorsogon
        </h6>

        <br />

        <div class="wrapper">
          <input type="radio" name="image-slide" checked="checked" />

          <img src="assets/image/whale3.jpg" alt="Random Picture 1" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/whale1.jpg" alt="" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/whale2.jpg" alt="" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/whale4.jpg" alt="" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/whale5.jpg" alt="" />
        </div>
        <a
          href="https://www.google.com/maps/place/Whaleshark+Adventure+%26+Tours/@12.923312,123.5759863,17z/data=!4m12!1m6!3m5!1s0x33a13d797e9b8a95:0xcffa269a0ec7336b!2sWhaleshark+Adventure+%26+Tours!8m2!3d12.923267!4d123.5781134!3m4!1s0x33a13d797e9b8a95:0xcffa269a0ec7336b!8m2!3d12.923267!4d123.5781134?hl=en"
        >
          <button class="button1">VIEW MAP</button>
        </a>
      </div>
    </div>
  </body>
</html>
