<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <!-- onclick="history.back()" -->
        <a routerLink="/visit1"
          ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
        ></a>
        <span>Sorsogon Tourist Spot</span>
      </div>
      <img src="assets/image/beach.jpg" alt="" class="img1" />
      <div class="content">
        <h4>Halabang Baybay Beach</h4>
        <h5>Photo courtesy</h5>
        <br />
        <p>
          <b>Halabang Baybay</b> is a long stretch of fine golden brown colored
          sand or in our native dialect “Halabang Baybay“. Its picturesque view
          is a perfect venue for photoshoots. The water is clear. However, there
          are rocks and other rock formations along the shoreline. You have to
          walk over those rocks in order to swim. This place is a few meters
          away from Padaraw Beach.
        </p>
        <br /><br />
        <h6>
          <i class="fa fa-map-marker" style="font-size: 20px; color: red"></i>
          Halabang Baybay, Caricaran, Bacon District, Sorsogon City
        </h6>
        <br />
        <div class="wrapper">
          <input type="radio" name="image-slide" checked="checked" />

          <img src="assets/image/baybay1.jpg" alt="Random Picture 1" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/baybay2.jpg" alt="" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/baybay3.jpg" alt="" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/baybay4.jpg" alt="" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/baybay5.jpg" alt="" />
        </div>
        <a
          href="https://www.google.com/maps/place/Halabang+Baybay+Beach/@13.0349408,124.0593217,17z/data=!3m1!4b1!4m5!3m4!1s0x33a0f1eed6aa9939:0x23cc14011fe41bd8!8m2!3d13.0349408!4d124.0615104?hl=en"
        >
          <button class="button1">VIEW MAP</button>
        </a>
      </div>
    </div>
  </body>
</html>
