<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Abhaya+Libre"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <!-- onclick="history.back()" -->
      <a routerLink="/background"
        ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
      ></a>
      <span>Going to Sorsogon</span>
    </div><br><br>

<br>
    <div class="rainbow-text" style="text-align: center; font-size: 20px;">
      <img src="assets/image/going3.gif" alt="" class="img01" />
      <span class="block-line"
        ><span
          ><span style="color: #f800ff">G</span
          ><span style="color: #ff004d">a</span
          ><span style="color: #fffd00">t</span
          ><span style="color: #0083ff">e</span
          ><span style="color: #ff0600">w</span
          ><span style="color: #00ff7b">a</span
          ><span style="color: #ff5300">y&nbsp;</span></span
        ><span
          ><span style="color: #00ffd2">C</span
          ><span style="color: #ff5c00">i</span
          ><span style="color: #2cff00">t</span
          ><span style="color: #ff2a00">y&nbsp;</span></span
        ><span
          ><span style="color: #ffe400">o</span
          ><span style="color: #34ff00">f&nbsp;</span></span
        ><span
          ><span style="color: #00ff8b">S</span
          ><span style="color: #00c2ff">o</span
          ><span style="color: #ff00d1">r</span
          ><span style="color: #ff1900">s</span
          ><span style="color: #ffcc00">o</span
          ><span style="color: #ff9700">g</span
          ><span style="color: #ff00b1">o</span
          ><span style="color: #00fff1">n</span>

        </span>
      </span>

    </div><br>
    <br />
    <div class="head">
      <p
        style="
          font-size: 15px;
          text-align: center;"
        class="post1"
      >
       <!-- Adventure starts at Sorsogon -->
      </p>
    </div>

    <div class="logo">
      <img src="assets/image/going4.png" alt="" class="img02" />
    </div>

    <div class="map_one">
      <div class="gate1">
        <div class="rainbow" style="text-align: center"></div>
      </div>
      <br />
      <div class="text1">
        <button class="but1">AIRPLANE</button><br>
        <p style="font-size: 15px;"><b style="font-size: 15px;">Departure : </b> Manila (MNL) to Sorsogon City (LGP)</p>

        <p><b style="font-size: 15px;">Travel Time :</b> 1h 15m ( Nonstop flight )</p>

        <p><b style="font-size: 15px;">Schedule :</b> 6:00 AM - 7:20 AM</p>

        <p><b style="font-size: 15px;">Fare :</b> Starts at ₱2,601</p><br>

        <img src="assets/image/going1.jpg" alt="" class="img02" />
        <br />
        <p style="font-size: 14px; font-family: Courgette">
          <em>You can book regular flights from Manila going to Legazpi City just
            within 1 hour and 15 minutes and fare starts at Php 2,601.00.</em>
        </p>
        <br />
        <h3 style="font-weight:500;">For more information, visit :</h3><br>
        <a href="https://www.philippineairlines.com/" class="link1"
          ><h5 style="color: green;font-weight: 500;"><em>www.philippineairlines.com</em></h5></a
        >
        <a href="https://www.cebupacificair.com/" class="link1"
          ><h5 style="color: green;font-weight:500;"><em>www.cebupacificair.com</em></h5></a
        >
      </div>
      <br /><br />
      <div class="text1">
        <button class="but1">BUS</button>
        <br /><br />
        <p><b style="font-size: 15px;">Departure : </b> Araneta Center Bus Station, Ali Mall Cubao, Alabang,
          EDSA Pasay, etc.</p>

        <p><b style="font-size: 15px;">Travel Time :</b> Approximately 14h 29m</p>

        <p><b style="font-size: 15px;">Schedule : </b></p>

        <p><b style="font-size: 15px;">Fare :</b> Php 800 - Php 1,300</p>
        <img src="assets/image/going2.jpg" alt="" class="img1" />

        <p style="font-size: 14px; font-family: Courgette">
          <em>
            If you want a long distance or overnight trip, from Araneta Bus
          Terminal going to Sorsogon City Terminal you can enjoy the ride with
          the fare start at Php 800 and travel is about 14 hours and 29 minutes.
          </em>
        </p>
        <br />
        <h3 style="font-weight:500;">For more information, visit :</h3><br>
        <a href="https://www.aranetacitybusport.com/"  class="link1"
          ><h5 style="color: green;font-weight:500;"><em>www.aranetacenterbusport.com</em></h5></a
        >

      </div>
    </div>
    <br /><br />
  </body>
</html>
