<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>

      <div class="header">
        <!-- onclick="history.back()" -->
        <a routerLink="/background"
          ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
        ></a>
        <span>Sorsogon Talk</span>
      </div>
 <div class="container">
  <div class="c1"><h3>Good Morning!</h3>
  <p>
   Maray na Aga!
  </p>
  <hr/>
</div>
  <br />
  <div class="c2"><h3>Good Afternoon!</h3>
  <p>
   Maray na Hapon!
  </p>
  <hr/>
</div>
  <br />
  <div class="c3"><h3>Good Evening!</h3>
  <p>
   Maray na Banggi!
  </p>
  <hr/>
</div>
  <br />
 <div class="c4"><h3>Who?</h3>
  <p>
   Sino?
  </p>
  <hr/>
</div>
  <br />
  <div class="c5"><h3>What?</h3>
  <p>
   Nakay?
  </p>
  <hr/>
</div>
  <br />
  <div class="c6"><h3>Where?</h3>
  <p>
   Hain?
  </p>
  <hr/>
</div>
  <br />
  <div class="c7"><h3>When?</h3>
  <p>
   San-o
  </p>
  <hr/>
</div>
  <br />
  <div class="c8"><h3>How?</h3>
  <p>
   Papano?
  </p>
  <hr/>
</div>
  <br />
  <div class="c9"><h3>Which?</h3>
  <p>
   Arin?
  </p>
  <hr/>
</div>
  <br />
  <div class="c10"><h3>Sitting</h3>
  <p>
  Nakaingkod
  </p>
  <hr/>
</div>
  <br />
  <div class="c11"><h3>Walking</h3>
  <p>
  Nagalakat
  </p>
  <hr/>
</div>
</div>




  </body>
</html>
