<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

  </head>
  <body>
    <div class="header">
      <!-- onclick="history.back()" -->
      <a routerLink="/background"
        ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
      ></a>
      <span>Where to Eat</span>
    </div>
    <div class="box2">
      <img src="assets/image/eat1.jpg" alt="" class="img" />
      <a href="https://www.google.com/maps/place/Emerald+Boutique+Hotel/@13.137106,123.7331553,17z/data=!4m8!3m7!1s0x33a103db5479a843:0x58e3a49bc0e38b07!5m2!4m1!1i2!8m2!3d13.137106!4d123.735344">

      <div class="bottom">Emerald Boutique Hotel</div>
      <div class="right">View Map</div>
      </a>

      <!--
        <button class="btn1" onclick="plusDivs(-1)">&#10094;</button>
      <button class="btn2" onclick="plusDivs(1)">&#10095;</button>
       -->
    </div>
    <div class="content">
      <h4> Marquez Street, Old Albay District, Albay, 4500 Legazpi, Philippines – Great location - show map Boutique Hotel &nbsp;<i class="fa fa-map-marker" style="font-size: 20px; color: red"></i></h4>
      <h5><em>courtesy by:</em></h5>
      <br />
      <p>&nbsp;&nbsp;&nbsp;&nbsp;Set in Legazpi, 6.7 km from Cagsawa Ruins, Emerald Boutique Hotel offers accommodation with a restaurant, free private parking, a shared lounge and a garden. Boasting a concierge service, this property also provides guests with a terrace. The accommodation features a 24-hour front desk, airport transfers, room service and free WiFi throughout the property.</p><br>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;At the hotel, the rooms come with a desk, a flat-screen TV, a private bathroom, bed linen and towels. All guest rooms at Emerald Boutique Hotel feature air conditioning and a wardrobe.</p><br>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;Popular points of interest near Emerald Boutique Hotel include Ibalong Centrum for Recreation, Bariw and Legazpi. The nearest airport is Naga Airport, 83 km from the hotel.</p><br>
    </div>
    <div class="gal">
      <h4 style="font-weight: bolder;color:rgba(0, 0, 0, 0.546)">GALLERY</h4>
    </div>
    <div class="wrapper">
      <input type="radio" name="image-slide" checked="checked" />

      <img src="assets/image/eat1.jpg" alt="Random Picture 1" />

      <input type="radio" name="image-slide" />

      <img src="assets/image/eat2.jpg" alt="" />

      <input type="radio" name="image-slide" />

      <img src="assets/image/eat3.jpg" alt="" />

      <input type="radio" name="image-slide" />

      <img src="assets/image/eat4.jpg" alt="" />

      <input type="radio" name="image-slide" />

      <img src="assets/image/eat5.jpg" alt="" />
    </div> <br>
    <div class="container">
      <h3 style="font-weight: bold;color:rgba(255, 0, 60, 0.648)">MENU LIST:</h3>
      <br />
      <div class="box">
        <img src="assets/image/food1.jpg" alt="" class="img1" />

        <h5 style="color: rgba(3, 3, 3, 0.808); font-size: 18px">
          Food Name
          <p style="font-size: 15px; font-weight: 200">
            <em
              >Food Descriptions/Info... </em
            >
          </p>
        </h5>
      </div>
    </div>
    <div class="container">
      <div class="box">
        <img src="assets/image/food2.jpg" alt="" class="img1" />

        <h5 style="color: rgba(6, 6, 6, 0.808); font-size: 18px">
          Food Name
          <p style="font-size: 15px; font-weight: 200">
            <em
              >Food Descriptions/Info...  </em
            >
          </p>
        </h5>
      </div>
    </div>
    <div class="container">
      <div class="box">
        <img src="assets/image/food3.jpg" alt="" class="img1" />

        <h5 style="color: rgba(0, 0, 0, 0.808); font-size: 18px">
          Food Name
          <p style="font-size: 15px; font-weight: 200">
            <em
              >Food Descriptions/Info...   </em
            >
          </p>
        </h5>
      </div>
    </div>
    <div class="container">
      <div class="box">
        <img src="assets/image/food4.jpg" alt="" class="img1" />

        <h5 style="color: rgba(0, 0, 0, 0.808); font-size: 18px">
          Food Name
          <p style="font-size: 15px; font-weight: 200">
            <em
              >Food Descriptions/Info...  </em
            >
          </p>
        </h5>
      </div>
    </div>
    <div class="container">
      <div class="box">
        <img src="assets/image/food5.jpg" alt="" class="img1" />

        <h5 style="color: rgba(0, 0, 0, 0.808); font-size: 18px">
          Food Name
          <p style="font-size: 15px; font-weight: 200">
            <em
              >Food Descriptions/Info...  </em
            >
          </p>
        </h5>
      </div>
    </div>
    <div class="content">
      <p>&nbsp;&nbsp;&nbsp;&nbsp; At the hotel, the rooms come with a desk, a flat-screen TV, a private bathroom, bed linen and towels. All guest rooms at Emerald Boutique Hotel feature air conditioning and a wardrobe.</p><br>
      <p>&nbsp;&nbsp;&nbsp;&nbsp; Guests at the accommodation can enjoy a buffet or an Asian breakfast.</p><br>
    </div>
  </body>
</html>
