<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">

      <div class="header">
        <!-- onclick="history.back()" -->
        <a href=""
          ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
        ></a>
        <span>Sorsogon Tourism Spot</span>
      </div>

      <img src="assets/image/bulusan1.jpg" alt="" class="img1" />
      <div class="content">
        <h4>Bulusan Volcano Natural Park</h4>
        <h5>Photo courtesy</h5>
        <br />
        <p>
          <b>Bulusan.</b> The Department of Tourism (DoT) declares Bulusan as an Eco-Tourism
          Zone. Bulusan Volcano Natural Park being the highlight, is a protected area covering a
          land area of 3,672 hectares comprising of five (5) municipalities. Bulusan Volcano stands
          1,565 meters above sea level with a base area of approximately 400 kilometers. There are
          three (3) lakes within Bulusan Volcano, namely – Bulusan Lake which lies at the foot of
          the volcano, Lake Aguingay which is halfway to the volcano and the Blackbirds’ Lake,
           which is near the summit of Bulusan Volcano.
        </p>
        <br><br>
        <h6>
          <i class="fa fa-map-marker" style="font-size: 20px; color: red"></i>
          Bulusan Volcano Natural Park Sorsogon
        </h6>

        <br>

        <div class="wrapper">
          <input type="radio" name="image-slide" checked="checked">
          <picture>
            <img src="assets/image/bulusan6.jpg" alt="Random Picture 1">
          </picture>

          <input type="radio" name="image-slide">
          <picture>
            <img src="assets/image/bulusan2.jpg" alt="">
          </picture>

          <input type="radio" name="image-slide">
          <picture>
            <a>
              <img src="assets/image/bulusan3.jpg" alt="">
            </a>
          </picture>

          <input type="radio" name="image-slide">
          <picture>
            <img src="assets/image/bulusan4.jpg" alt="">
          </picture>

          <input type="radio" name="image-slide">
          <picture>
            <img src="assets/image/bulusan7.jpg" alt="">
          </picture>
        </div>
        <a href="https://www.google.com/maps/place/Bulusan+Lake/@12.7528897,124.0863969,15.19z/data=!4m13!1m7!3m6!1s0x33a0c6e9a3ec5c7f:0x7434df8c7b1d21d9!2sBulusan+Lake!3b1!8m2!3d12.7541761!4d124.0940679!3m4!1s0x33a0c6e9a3ec5c7f:0x7434df8c7b1d21d9!8m2!3d12.7541761!4d124.0940679?hl=en">
          <button class="button1">VIEW MAP</button>
        </a>
      </div>
    </div>
  </body>
</html>

