<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
	<div class="wrapper box">
		<div class="single-box"><img alt="" src="assets/image/image1.jpg"></div>
		<div class="single-box"><img alt="" src="assets/image/image7.webp"></div>
		<div class="single-box"><img alt="" src="assets/image/image6.jpg"></div>
    <div class="single-box"><img alt="" src="assets/image/image5.webp"></div>
    <div class="text-block">
      <app-footer></app-footer>
    </div>
	</div>
</body>
</html>
