<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="header">
      <!-- onclick="history.back()" -->
      <a routerLink="/background"
        ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
      ></a>
      <span>Contact Us</span>
    </div><br><br>

    <div class="container">
      <br />
      <img src="https://c.tenor.com/Wx9IEmZZXSoAAAAj/hi.gif" />
      <span
        ><h3>How can I help You?</h3>
        <p>&nbsp;Feel free to give us message.</p></span
      >
      <br /><br />
      <p>
        We are here to answer any questions you may have about Sorsogon Tourism
        Guide.
      </p>
      <br />
      <em
        ><p>
          If there is something you have always wanted to experience and can't
          find it on this APP, let us know and we promise we'll do our best to
          find it for you and send you there.
        </p></em
      ><br />

      <div class="wrapper">
        <header>
          <div class="box1">
          <p>Purpose?
            <button class="btn1">
              <span></span>
              <label><select>
                  <option>Feedback</option>
                  <option>Inquiry</option>
                  <option>Comment</option>
                  <option>Suggestion</option>
                </select></label>
            </button>
          </p></div>

        </header><br>
        <div class="input-box">
          <i class="fa fa-comment" style="font-size: 25px; color: green">
            <input type="text" placeholder="Your Message" /></i><br /><br />
          <h3>Personal Information</h3><br />
          <i class="fa fa-user-o" style="font-size: 25px; color: green">
          <input type="text" placeholder="Full Name" /></i><br /><br />
          <i class="fa fa-envelope" style="font-size: 25px; color: green">
          <input type="email" placeholder="Email Address" /></i><br /><br />
          <i class="fa fa-phone" style="font-size: 25px; color: green">
          <input type="number" placeholder="Phone Number" /></i><br /><br />
          <i class="fa fa-map-marker" style="font-size: 25px; color: green">
          <input type="text" placeholder="Address" /></i><br /><br />
          <div class="button">
            <a>SEND MESSAGE</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
