<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="header" ><!-- onclick="history.back()" -->
      <a routerLink="/background"><i class="fa fa-arrow-left" style="font-size:20px;color:white"></i></a>
      <span>Sorsogon Tourist Spot</span>
    </div>
    <a routerLink="/visit2"><button class="btn1">Hiking</button></a>
    <a routerLink="/visit1"><button class="btn2">Beach</button></a>
    <a routerLink="/visit4"><button class="btn3">River</button></a>
    <a routerLink="/nature"><button class="btn4">Nature</button></a>
    <a routerLink="/moseum"><button class="btn5">Museum</button></a>
    <a routerLink="/visit3"><button class="btn6">Park</button></a>
  </div>
  <div class="img">
    <img src="assets/image/map.jpg" alt="">
  </div>
</body>
</html>
