<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <!-- onclick="history.back()" -->
        <a routerLink="/visit1"
          ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
        ></a>
        <span>Sorsogon Tourist Spot</span>
      </div>

      <img src="assets/image/paguriran.jpg" alt="" class="img1" />
      <div class="content">
        <h4>Paguriran Island</h4>
        <h5>Photo courtesy</h5>
        <br />
        <p>
          <b>Paguriran Island</b> is a small island in Sorsogon composed of
          jagged limestone rocks with growing vegetation and a lagoon at its
          center. The water in the lagoon is just from ankle to waist deep on
          low tide but could reach neck deep on high tide. The site is good for
          swimming and cliff jumping. Climbing at top top of the limestone
          rocks, one would see a beautiful view of the lagoon, sea horizon,
          mainland and a glimpse of Mount Mayon (on a normal day). The island is
          just 100-meter away from the shores of the mainland and can be reach
          on foot in low tide but also manageable in high tide.
        </p>
        <br /><br />
        <h6>
          <i class="fa fa-map-marker" style="font-size: 20px; color: red"></i>
          Paguriran Island and Lagoon is situated in Barangay Sawanga, Sorsogon
          City, Sorsogon.
        </h6>
        <br />
        <div class="wrapper">
          <input type="radio" name="image-slide" checked="checked" />

          <img src="assets/image/paguriran1.jpg" alt="Random Picture 1" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/paguriran2.jpg" alt="" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/paguriran3.jpg" alt="" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/paguriran4.jpg" alt="" />

          <input type="radio" name="image-slide" />

          <img src="assets/image/paguriran5.jpg" alt="" />
        </div>
        <a
          href="https://www.google.com/maps/place/Paguriran+Island+and+Lagoon/@13.070637,124.1197157,17z/data=!3m1!4b1!4m5!3m4!1s0x33a0f36d22d51a51:0x40c9dbd869f352d3!8m2!3d13.070637!4d124.1219044?hl=en"
        >
          <button class="button1">VIEW MAP</button>
        </a>
      </div>
    </div>
  </body>
</html>
