<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">

      <div class="header">
        <!-- onclick="history.back()" -->
        <a href=""
          ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
        ></a>
        <span>Sorsogon Tourism Spot</span>
      </div>

      <img src="assets/image/paguriran.jpg" alt="" class="img1" />
      <div class="content">
        <h4>Paguriran Island</h4>
        <h5>Photo courtesy of More Fun In The Philippines</h5>
        <br />
        <p>
          <b>Paguriran Island</b> is a small island in Sorsogon composed of jagged limestone rocks
          with growing vegetation and a lagoon at its center. The water in the lagoon is just from
          ankle to waist deep on low tide but could reach neck deep on high tide. The site is good
          for swimming and cliff jumping. Climbing at top top of the limestone rocks, one would see
           a beautiful view of the lagoon, sea horizon, mainland and a glimpse of Mount Mayon (on a
            normal day). The island is just 100-meter away from the shores of the mainland and can
            be reach on foot in low tide but also manageable in high tide.
        </p>
        <br />
        <h6>
          <i class="fa fa-map-marker" style="font-size: 20px; color: red"></i>
          Paguriran Island and Lagoon is situated in Barangay Sawanga, Sorsogon City, Sorsogon.
        </h6>
        <br><br>
        <h6>
          insert picture
        </h6><br>
      </div>
    </div>
  </body>
</html>

