<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">

      <div class="header">
        <!-- onclick="history.back()" -->
        <a routerLink="/visit1"
          ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
        ></a>
        <span>Sorsogon Tourist Spot</span>
      </div>
      <img src="assets/image/tikling-iland.jpg" alt="" class="img1" />
      <div class="content">
        <h4>Tikling Island</h4>
        <h5>Photo courtesy</h5>
        <br />
        <p>
          <b>Tikling Island</b> is one of the famous tourist spots in Sorsogon, a private island but
          the owners allowed visitors on a day tour. The island has a beautiful creamy white sand
          beach with turquoise calm waters and shores arrayed with trees. There are no cottages or
          resorts but a hospitable caretaker and his family is present on the island. The other side
           of the island are decorated with Instagram-worthy rock formations. This is one of the 3
           island hopping destinations in Sorsogon along with Juag Lagoon Marine Sanctuary and Subic
            Beach. The tour are arranged at the Tourism Office of Matnog.
        </p>
        <br /><br>
        <h6>
          <i class="fa fa-map-marker" style="font-size: 20px; color: red"></i>
          Tikling Island is located in Matnog, Sorsogon
        </h6>
        <br>


        <div class="wrapper">
          <input type="radio" name="image-slide" checked="checked">
          <picture>
            <img src="assets/image/tikling1.jpg" alt="Random Picture 1">
          </picture>

          <input type="radio" name="image-slide">
          <picture>
            <img src="assets/image/tikling2.jpg" alt="">
          </picture>

          <input type="radio" name="image-slide">
          <picture>
            <a>
              <img src="assets/image/tikling3.jpg" alt="">
            </a>
          </picture>

          <input type="radio" name="image-slide">
          <picture>
            <img src="assets/image/tikling4.jpg" alt="">
          </picture>

          <input type="radio" name="image-slide">
          <picture>
            <img src="assets/image/tikling5.jpg" alt="">
          </picture>
        </div>
        <a href="https://www.google.com/maps/place/Tikli+Island/@12.5890451,124.0927184,14.21z/data=!4m9!1m2!2m1!1sTikling+Island+sorsogon!3m5!1s0x33a0ca5c8781f04f:0xf7699dfd5d9e6246!8m2!3d12.5817534!4d124.1267645!15sChdUaWtsaW5nIElzbGFuZCBzb3Jzb2dvbloZIhd0aWtsaW5nIGlzbGFuZCBzb3Jzb2dvbpIBBmlzbGFuZJoBI0NoWkRTVWhOTUc5blMwVkpRMEZuU1VOUGQyOTFhVkJSRUFF4AEA?hl=en">
          <button class="button1">VIEW MAP</button>
        </a>
      </div>
    </div>
  </body>
</html>
