<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">

      <div class="header">
        <!-- onclick="history.back()" -->
        <a href=""
          ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
        ></a>
        <span>Sorsogon Tourism Spot</span>
      </div>
      <img src="assets/image/tikling-iland.jpg" alt="" class="img1" />
      <div class="content">
        <h4>Tikling Island</h4>
        <h5></h5>
        <br />
        <p>
          <b>Tikling Island</b> is one of the famous tourist spots in Sorsogon, a private island but
          the owners allowed visitors on a day tour. The island has a beautiful creamy white sand
          beach with turquoise calm waters and shores arrayed with trees. There are no cottages or
          resorts but a hospitable caretaker and his family is present on the island. The other side
           of the island are decorated with Instagram-worthy rock formations. This is one of the 3
           island hopping destinations in Sorsogon along with Juag Lagoon Marine Sanctuary and Subic
            Beach. The tour are arranged at the Tourism Office of Matnog.
        </p>
        <br />
        <h6>
          <i class="fa fa-map-marker" style="font-size: 20px; color: red"></i>
          Tikling Island is located in Matnog, Sorsogon.
        </h6>
        <br><br>
        <h6>
          insert picture
        </h6><br>
      </div>
    </div>
  </body>
</html>
