<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="header">
      <!-- onclick="history.back()" -->
      <a routerLink="/background"
        ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
      ></a>
      <span>Meeting Venues</span>
    </div>
    <div class="box2">
      <a href="https://www.google.com/maps/place/Emerald+Boutique+Hotel/@13.137106,123.7331553,17z/data=!4m8!3m7!1s0x33a103db5479a843:0x58e3a49bc0e38b07!5m2!4m1!1i2!8m2!3d13.137106!4d123.735344">
        <img src="assets/image/meeting2.jpg" alt="" class="img" />
      <div class="bottom">Title of the Meeting</div>
      <div class="right">View Map</div>
      </a>
    </div>
    <div class="content">
      <h4>Emerald Boutique Hotel</h4>
      <h5><em>Lead by:</em></h5>
      <br />
      <p>17 December 2030</p>
      <p>544 Opium Road</p>
      <p>Huntington Beach, NJ 67568</p>
      <p>Dear Mr. Campbell,</p><br>
      <p>I am happy to announce that RT Solutions is launching a new application software: The Clientrack. As a newly established company and our loyal client, we would like to invite you to our official launch meeting, which will be held at RTS headquarters on 24 December 2030 from 8 AM to 12 PM.</p>
      <br>
      <p>Sincerely,</p>
    </div>
    <div class="container">
      <h4>Meet the Team:</h4>
      <br />
      <div class="box">
        <img src="assets/image/person.jpg" alt="" class="img1" />

        <h5 style="color: rgba(255, 255, 255, 0.808); font-size: 18px">
          President: Juan Dela Cruz
          <p style="font-size: 15px; font-weight: 200">
            <em
              >I am happy to announce that RT Solutions is launching a new application software: </em
            >
          </p>
        </h5>
      </div>
    </div>
    <div class="container">
      <div class="box">
        <img src="assets/image/person1.jpg" alt="" class="img1" />

        <h5 style="color: rgba(255, 255, 255, 0.808); font-size: 18px">
          Secretary: Mary D. Matuto
          <p style="font-size: 15px; font-weight: 200">
            <em
              >I am happy to announce that RT Solutions is launching a new application software: </em
            >
          </p>
        </h5>
      </div>
    </div>
    <div class="gal">
      <h4 style="font-weight: bolder;color:rgba(0, 0, 0, 0.546)">GALLERY</h4>
    </div>
    <div class="wrapper">
      <input type="radio" name="image-slide" checked="checked" />

      <img src="assets/image/hotel2.jpg" alt="Random Picture 1" />

      <input type="radio" name="image-slide" />

      <img src="assets/image/hotel1.jpg" alt="" />

      <input type="radio" name="image-slide" />

      <img src="assets/image/hotel3.jpg" alt="" />

      <input type="radio" name="image-slide" />

      <img src="assets/image/hotel5.jpg" alt="" />

      <input type="radio" name="image-slide" />

      <img src="assets/image/hotel6.jpg" alt="" />
    </div><br><br>
  </body>
</html>
