<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <title>Document</title>
</head>
<body>
  <div class="container">

    <div class="header">
      <!-- onclick="history.back()" -->
      <a href=""
        ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
      ></a>
      <span>Sorsogon Tourism Spot</span>
    </div>
    <a routerLink="/pulog">
      <img src="assets/image/pulog1.jpg" alt="" class="img1" />
    <button>
        <h4>"Mt. Pulog, Sorsogon"</h4>
    </button>
    </a>
  </div>

</body>
</html>
