<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <!-- onclick="history.back()" -->
      <a routerLink="/visit"
        ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
      ></a>
      <span>Sorsogon Tourist Spot</span>
    </div>

  <img src="assets/image/logo2.png" alt="" class="img2">
    <div class="box">
      <div class="container">
        <a routerLink="/pulog">
          <img src="assets/image/pulog1.jpg" alt="" class="img1" />
          <div class="box2">
            <h5 style="color: rgba(255, 255, 255, 0.874);font-size: 20px;">
              Mt. Pulog
              <p style="font-size: 15px;"><em>Beautifully lush and forested...</em></p>
            </h5>
          </div>
          <button>
            <h4>"Mt. Pulog Sorsogon"</h4>
          </button>
        </a>
      </div>
    </div>
  </body>
</html>
