<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <title>Document</title>
</head>
<body>
  <div class="container">

    <div class="header">
      <!-- onclick="history.back()" -->
      <a href=""
        ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
      ></a>
      <span>Sorsogon Tourism Spot</span>
    </div>
    <a routerLink="/whale">
      <img src="assets/image/whale.jpg" alt="" class="img1" />
    <button>
        <h4>"Whale Shark"</h4>
    </button>
    </a>
  </div>

  <div class="container">
    <a routerLink="/beach">
      <img src="assets/image/beach.jpg" alt="" class="img1" />
    <button>
        <h4>"Subic Beach"</h4>
    </button>
    </a>
  </div>
  <div class="container">
    <a routerLink="/tikling">
      <img src="assets/image/tikling-iland.jpg" alt="" class="img1" />
    <button>
        <h4>"Tikling Iland"</h4>
    </button>
    </a>
  </div>
  <div class="container">
    <a routerLink="/paguriran">
      <img src="assets/image/paguriran.jpg" alt="" class="img1" />
    <button>
        <h4>"Paguriran Island & Lagoon"</h4>
    </button>
    </a>
  </div>
  <div class="container">
    <a routerLink="/baybay">
      <img src="assets/image/baybay.jpg" alt="" class="img1" />
    <button>
        <h4>" Halabang Baybay Beach"</h4>
    </button>
    </a>
  </div>
  <div class="container">
    <a routerLink="/malawmawan">
      <img src="assets/image/malawmawan.png" alt="" class="img1" />
    <button>
        <h4>"Malawmawan Island"</h4>
    </button>
    </a>
  </div>
</body>
</html>
