<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="wrapper box">
      <div class="single-box"><img alt="" src="assets/image/image1.jpg" /></div>
      <div class="single-box">
        <img alt="" src="assets/image/image7.webp" />
      </div>
      <div class="single-box"><img alt="" src="assets/image/image6.jpg" /></div>
      <div class="single-box">
        <img alt="" src="assets/image/image5.webp" />
      </div>
      <div class="text-block">
        <div class="myform">
          <div class="logo">
            WOW!
            <div class="logo2">SORSOGON</div>
            <b>"Its more FUN  register"</b>
          </div>
          <form>
            <input
              type="email"
              id="inputEmail"
              name="email"
              placeholder=" &#xf023; Input valid email"
              class="form-control"
              [(ngModel)]="email">
            <input
              type="number"
              id="inputPassword"
              name="password"
              placeholder=" &#xf023; Input valid number"
              class="form-control"
              [(ngModel)]="password">
              <!--
                <div class="alert alert-danger" role="alert" *ngIf="isFormValid">
                Please fill all fields.
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="areCredentialsInvalid">
                Invalid user or password.
            </div>
              -->

            <div class="flex-container">
              <div>
                <a href="sign-in">Sign In?</a>
              </div>
              <div>
                <a href="others">Forgot Credentials</a>
              </div>
            </div>
            <button  type="button" (click)="register()">SIGN UP</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
