<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="navbar">
  <!-- onclick="history.back()" -->
  <a routerLink="/background"
    ><i class="fa fa-arrow-left" style="color: white"></i
  ></a>
  <span>Terms & Conditions</span>
</div>
<br />
<div class="container">
  <h3>Terms and Conditions</h3>
  <p>Last Updated October 2022</p>
  <br />
  <h3>Agreement to Terms</h3>
  <p>
    These Terms and Condtitions constitute a legally binding agreement made
    between you, wether personally or on behalf of an entity ("you") and
    [business entity name] ("we, us or our"), concerning your access to and use
    of the Sorsogon Tourism Guide App as well as any other media form, media
    channel, mobile website or mobile application related, linked, or otherwise
    connected thereto (collectively, the "App"). You agree that by using the
    app, you have read, understood and agree to be bound by all of these Terms
    and Conditions Use.
  </p>
  <br />
  <p>
    IF YOU DO NOT AGREE WITH ALL OF THESE TERMS and CONDITIONS, THEN YOU ARE
    EXPRESSLY PROHIBITED FROM USING THE APP AND YOU MUST DISCONTINUE USE
    IMMEDIATELY.
  </p>
  <br />
  <p>
    We reserve the right to make changes to this Terms and Conditions at any
    time and fro any reason. We will alert you about any changes by updating the
    last updated date of this Terms and Conditions. It is your responsibility to
    periodically review these Terms and Conditions to stay informed of updates.
    You will be subject to, and will be deemed to have been made aware of and to
    have accepted the changes in any revised Terms and Conditions by your
    continued use of the App after the date such revised Terms are posted.
  </p>
  <br />
  <p>
    The information provided on the Sorsogon Tourism Guide App is not intended
    for distribution to or use by any person or entity in any jurisdiction or
    country where such distribution or use would be contrary to law or
    regulation or which would subject us to any registration requirement within
    such jurisdiction or country. Accordingly, those persons who choose to
    access the site from other locations do so on their own initiative and are
    solely responsible for compliance with local laws, if and to the extent
    local laws are applicable.
  </p>
  <br />
  <h3>Intellectual Property Rights</h3>
  <p>
    Unless otherwise indicated, the Sorsogon Tourism Guide App is our
    proprietary property and all source code, databases, functionality,
    software, mobile designs, audio, video, texts, photographs, and graphics on
    the site (collectively, the "Content") and the trademarks , service marks,
    annd logos contained therein (the "Marks") are owned or controlled by us or
    licensed to us, and are protected by copyright and trademark laaws and
    various other intellectual property rights and unfair competition laws of
    the Philippines, foreign jurisdictions and international connvention. The
    content and the marks are provided on the App "AS IS" for your information
    and personal use only. Exccept as expressly provided in these Terms of Use,
    no part of the site and no content or marks mmay be copied, reproduced,
    aggregated, republished, uploaded, posted, publicly displayed, encoded,
    translated, transmitted, distributed, sold, licensed or otherwise exploited
    for any commercial purpose whatsoever, without our express prior written
    permission.
  </p>
  <br />
  <p>
    Provided that you are eligible to use the App, you are granted a limited
    license to access and use the App and download or print a copy of any
    portion oof the content too which you have properly gained access solely for
    your personal, non-commercial use. We reserve all rights not expressly
    granted to you in and to the App Content and the Marks.
  </p>
  <br />
  <h3>User Representations</h3>
  <p>
    By using Sorsogon Tourism Guide App, you represent and warrant that: [(1)
    all information you submit will be true, accurate, current and complete;
    (2)you will maintain the accuracy of such information and promptly update
    ssuch listing information as necessary;] (3) you have the legal capacity and
    you agree to comply with these Terms of Use; (4) you will not access the App
    through automated or non-human means, wether through a bot, script or
    otherwise; (5) you will not use the App for any illegal or unauthorized
    purpose; and (6) your use of the App will not violate any applicable law or
    regulation.
  </p>
  <br />
  <p>
    If you provide any information that is untrue, inaccurate, not current, oor
    incomplete, we have the right to suspend or terminate and refuse any and all
    current or future use of the App (or any portion thereof).
  </p>
  <br />
  <h3>Submissions</h3>
  <p>
    You acknowledge and agree that any questions, comments, suggestions, ideas,
    feedback, or other information regarding the Site ("Submissions") provided
    by you to us are non-confidential and shall become our sole property. We
    shall ownn exclusive rights, including all intellectual property rights, and
    shall be entitled to the unrestricted use and dissemination of these
    Submissions for any lawful purpose, commercial otherwise, without
    acknowledgment or compensation to you. You hereby waive all moral rights to
    any such Submissions, and you hereby warrant that any such Submissions are
    orginal with you or that you have the right to submit such Submissions. You
    agree there shall be no recourse against us for any allegged or actaul
    infringement or misappropriation of any propriety right inn your
    Submissions.
  </p>
  <br />
  <h3>Third-Party Websites and Content</h3>
  <p>
    The Sorsogon Tourism Guide App contain links to other websites ("Third Party
    Websites") as well as articles, photographs, text, graphics, pictures,
    designs, music, sound, video, information, applications, softwares, and
    other content or items belonging to or originating from third parties
    ("Third-Party Content").
  </p>
  <br />
  <p>
    Such Third-Party Websites and Third-Party Content are not investigated,
    monitored, or checked for accuracy, appropriateness, or completeness by us
    and we are not responsible for any Third Party Websited accessed through the
    Site or any Third Party Content posted on, available through, or installed
    from the App, including the content, accuracy, offensiveness, opinions,
    reliability, privacy practices, or other policies of or contained in the
    Third-Party Websites or the Third-Party Content.
  </p>
  <br />
  <p>
    Inclusion of linking to or permitting the use or installation of any
    Third-Party Websites or any Third-Party Content does not imply approval or
    endorsement thereof by us. If you decide to access the Third-Party Websites
    or to use or install any Third-Party Content, you do so at your own risk,
    and you should be aware these Terms of Use no longer govern. You should
    review the applicable terms and policies, including privacy and data
    gathering practices of anny website to which you navigate from the App. Any
    purchases you make through Third-Party Websites will be through other
    websites and from other companies, and we take no responsibility whatsoever
    in relation to such purchases which are exclusively between you and the
    applicable Third-Party. You agree and ackowledge that we do not endorse the
    products or services offered on Third-Party Websites and you shall hold us
    harmless from any harm caused by your purchase of such products or service.
    Additionally, you shall hold us harmless from any losses sustained by you or
    harm caused to you relating to or resulting in any way from any Third-Party
    Content or any contact with Third-Party Websites.
  </p>
  <br />
  <h3>Privacy Policy</h3>
  <p>
    We care about data privacy and security. Please review our Privacy Policy.
    By using Sorsogon Tourism Guide App, you agree to be bound by our Privacy
    Policy which is incorporated into these Terms of Use.
  </p>
  <br />
  <h3>Prohibited Activities</h3>
  <p>
    You may not access or use Sorsogon Tourism Guide App for any purpose other
    than that for which we make the App available. The app may not be used in
    connection with any commercial endeavors except those that are specifically
    endorsed or approved by us.
  </p>
  <br />
  <h3>Corrections</h3>
  <p>
    There may be information on Sorsogon Tourism Guide App that contains
    typographical errors, inaccuracies, or omissions that may relate to the
    Site, including descroiptions, pricing, availability and various other
    information. We reserve the right to correcet any errors, inaccuracies, oor
    omissions and to change or update the information on the Site at any time,
    without prior notice.
  </p>
  <br />
  <h3>Governing Law</h3>
  <p>
    These terms of use and your use of Sorsogon Tourism Guide App are governed
    by and construed in accordance with the laws of the State of [name os state]
    applicable tot agreements made and to be entirely performed within the
    State/Commonwealth of[name of state], without regard to its conflict of law
    principles.
  </p>
  <br />
  <h3>Changes to This Terms and Conditions</h3>
  <p>
    We may update our Terms and Conditions from time to time. We will alert you
    about any changes by updating the Last Updated date of this Terms and
    Conditions. It is your responsibility to periodically review these Terms and
    Conditions to stay informed of updates.
  </p>
  <br />
  <h3>Contact Us</h3>
  <p>
    If you have any questions or suggestions about our Terms and Conditions, do
    not hessitate to contact us.
  </p><br><br>
  <div class="button">
    <a routerLink="/contact-us">CONTACT US</a>
  </div>
</div>

</body>
</html>
