<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">

      <div class="header">
        <!-- onclick="history.back()" -->
        <a href=""
          ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
        ></a>
        <span>Sorsogon Tourism Spot</span>
      </div>

      <img src="assets/image/rompe6.jpg" alt="" class="img1" />
      <div class="content">
        <h4>Rompeolas–Sorsogon City’s baywalk</h4>
        <h5>Photo courtesy</h5>
        <br />
        <p><b>Rompeolas–Sorsogon City’s baywalk</b> –got its name from the Spanish rompir: “where the waves cavort.” There are others who
          romp here as well: students out on a cheap date, kids out on a day of fun, those who
           just can’t get enough of the glorious Sorsogon sunset.

        </p>
        <br><br>
        <h6>
          <i class="fa fa-map-marker" style="font-size: 20px; color: red"></i>
          Rompeolas–Sorsogon City’s baywalk
        </h6>

        <br>

        <div class="wrapper">
          <input type="radio" name="image-slide" checked="checked">
          <picture>
            <img src="assets/image/rompe5.jpg" alt="Random Picture 1">
          </picture>

          <input type="radio" name="image-slide">
          <picture>
            <img src="assets/image/rompe2.jpg" alt="">
          </picture>

          <input type="radio" name="image-slide">
          <picture>
            <a>
              <img src="assets/image/rompe3.jpg" alt="">
            </a>
          </picture>

          <input type="radio" name="image-slide">
          <picture>
            <img src="assets/image/rompe4.jpg" alt="">
          </picture>

          <input type="radio" name="image-slide">
          <picture>
            <img src="assets/image/rompe1.jpg" alt="">
          </picture>
        </div>
        <a href="https://www.google.com/maps/place/Sorsogon+Rompeolas/@12.965207,123.9456867,13z/data=!4m9!1m2!2m1!1ssorsogon+tourist+spots!3m5!1s0x33a0ef3c4ad49d2f:0xfc2f4581d0a50b4b!8m2!3d12.9652025!4d124.0044134!15sChZzb3Jzb2dvbiB0b3VyaXN0IHNwb3RzIjNSMS9nZW8vdHlwZS9lc3RhYmxpc2htZW50X3BvaS9wb3B1bGFyX3dpdGhfdG91cmlzdHNaGCIWc29yc29nb24gdG91cmlzdCBzcG90c5IBBHBhcmuaASNDaFpEU1VoTk1HOW5TMFZKUTBGblNVUjVNbVZwYmxOUkVBReABAA?hl=en">
          <button class="button1">VIEW MAP</button>
        </a>
      </div>
    </div>
  </body>
</html>

