<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="wrapper box">
      <div class="single-box"><img alt="" src="assets/image/image1.jpg" /></div>
      <div class="single-box">
        <img alt="" src="assets/image/image7.webp" />
      </div>
      <div class="single-box"><img alt="" src="assets/image/image6.jpg" /></div>
      <div class="single-box">
        <img alt="" src="assets/image/image5.webp" />
      </div>
      <div class="text-block">
        <div class="myform">
          <div class="logo">
            WOW!
            <div class="logo2">SORSOGON</div>
            <b>"Its more FUN in Sorsogon"</b>
          </div>
          <form class="col-md-6">
            <div class="card px-5 py-5">
              <div class="form-input">
                <input
                  type="text"
                  name="phoneNumber"
                  placeholder="Phone Number"
                  class="form-control"
                  placeholder="+63 9xx xxx xxxx"
                  [(ngModel)]="phoneNumber"
                  min="10"
                  max="15"
                />
              </div>
              <br /><br />
              <div class="flex-container">
                <div>
                  <a href="sign-up">Create Account</a>
                </div>
                <div>
                  <a href="others">Forgot Credentials</a>
                </div>
              </div>
              <button class="btn btn-success mt-4 signup" (click)="getOTP()">
                SIGN-IN
              </button>
              <div id="sign-in-button"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
