<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  </head>
  <body>
    <div class="wrapper box">
      <div class="single-box"><img alt="" src="assets/image/w3.jpg" /></div>
      <div class="single-box"><img alt="" src="assets/image/image7.webp" /></div>
      <div class="single-box"><img alt="" src="assets/image/image6.jpg" /></div>
      <div class="single-box"> <img alt="" src="assets/image/beach.jpg" /></div>
      <div class="text-block">
        <div class="myform">
          <div class="logo">
            WOW!
            <div class="logo2">SORSOGON</div>
            <b>"Its more FUN in Sorsogon"</b>
          </div>
          <form class="col-md-6">
            <div class="card px-5 py-5">
              <div class="form-input">

                <input
                  type="tel"
                  id="output"
                  name="phoneNumber"
                  class="form-control"
                  [(ngModel)]="phoneNumber"
                  maxlength="16"
                  placeholder="+63"
                />

                <!-- prefix="+63" mask="+000 000 0000"
                  <input
                  type="text"
                  name="phoneNumber"
                  class="form-control"
                  placeholder="+63 9xx xxx xxxx"
                  [(ngModel)]="phoneNumber"
                  maxlength="15"
                />
                <select  id="country" onchange="country_code()">
                  <option value="select country">Select Country </option>
                  <option value="ph">&#x1F1F5;&#x1F1ED;</option>
                  <option value="us">&#x1F1FA;&#x1F1F8;</option>
              </select>
                -->
              </div>
              <br /><br />
              <div class="flex-container">
                <div>
                  <a href="sign-up">Create Account</a>
                </div>
                <div>
                  <a href="sign-up">Forgot Credentials</a>
                </div>
              </div>
              <button class="btn btn-success mt-4 signup" (click)="getOTP()" click="submit">
                SIGN-IN
              </button>
              <div id="sign-in-button"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--
      <script>
      function country_code(){
          var val = document.getElementById("country").value;
          if (val === "select country"){
              document.getElementById("output").value = "";
          }
          else if (val === "ph"){
              document.getElementById("output").value = "+63";
          }
          else if (val === "us"){
              document.getElementById("output").value = "+1";
          }

      }
      document.getElementById("signup").click=function(submit){
              var maxlenght = 15;
              var numbers = document.getElementById("output").value;
              console.log(numbers);
          }
  </script>
    -->
  </body>
</html>
