*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html, body{
  height: 100%;
}


body {
  position: fixed;
  display: block;
  background-image: url("src/assets/image/beach.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: scroll;
 }

.header {
  overflow: hidden;
  background: linear-gradient(#5650a4, #407ed7);
  padding: 10px 10px;
}

.header a i{
  padding-left: 10px;
}
.header span{
  text-align: center;
  padding-left: 20px;
  color: white;
  font-weight: 550;
}

.img{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.container{
  display: block;
}

.box{
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 40px;
  height: 100px;
  width: 90%;
  background: linear-gradient(rgba(220, 159, 89, 0.733),rgba(217, 217, 217, 0.87));
  border-radius: 0px 0px  40px  0px;
}

.box .img1{
  display: block;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 30%;
  border-radius: 0px 0px 0px 0px;
}

.box h5{
  margin-top: 10px;
  margin-left: 20px;
  color: rgba(241, 241, 241, 0.847);
}

