<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="header">
      <!-- onclick="history.back()" -->
      <a routerLink="/background"
        ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
      ></a>
      <span>Local Products</span>
    </div>
<img src="assets/image/logo3.png" alt="" class="img">
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/local1.jpg" alt="" class="img1" >
          <h5>PRODUCT TITLE
            <p><em> Insert details about products...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/local2.jpg" alt="" class="img1" >
          <h5>PRODUCT TITLE
            <p><em> Insert details about products...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/local3.jpg" alt="" class="img1" >
          <h5>PRODUCT TITLE
            <p><em> Insert details about products...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/local4.jpg" alt="" class="img1" >
          <h5>PRODUCT TITLE
            <p><em> Insert details about products...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/local5.jpg" alt="" class="img1" >
          <h5>PRODUCT TITLE
            <p><em> Insert details about products...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/local6.jpg" alt="" class="img1" >
          <h5>PRODUCT TITLE
            <p><em> Insert details about products...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/local7.jpg" alt="" class="img1" >
          <h5>PRODUCT TITLE
            <p><em> Insert details about products...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/local8.jpg" alt="" class="img1" >
          <h5>PRODUCT TITLE
            <p><em> Insert details about products...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/local9.jpg" alt="" class="img1" >
          <h5>PRODUCT TITLE
            <p><em> Insert details about products...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/local10.jpg" alt="" class="img1" >
          <h5>PRODUCT TITLE
            <p><em> Insert details about products...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/local11.jpg" alt="" class="img1" >
          <h5>PRODUCT TITLE
            <p><em> Insert details about products...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/local12.jpg" alt="" class="img1" >
          <h5>PRODUCT TITLE
            <p><em> Insert details about products...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/local13.jpg" alt="" class="img1" >
          <h5>PRODUCT TITLE
            <p><em> Insert details about products...</em></p>
          </h5>
        </div>
      </div>
    </a><br>
  </body>
</html>
