<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
</head>
<body>
  <div class="header">
    <!-- onclick="history.back()" -->
    <a routerLink="/background"
      ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
    ></a>
    <span>Events</span>
  </div><br><br>

  <!-- <img src="assets/image/event.jpg" alt="" class="img" /> -->
  <div class="container">
    <img src="assets/image/logo2.jpg" alt="" class="img" />
    <h3>Event Invitation Letter Sample</h3><br>
    <p>From:</p><br>
    <p>Abel Kennedy</p><br>
    <p>Event Manager</p><br>
    <p>Global Sports Enterprise</p><br>
    <p>1259 Far East Complex</p><br>
    <p>Atlanta, GA 30303</p><br>
    <p>Sep 06, 2014</p><br>
    <p>To:</p><br>
    <p>Jasper Kinsley</p><br>
    <p>Central Vision Inc</p><br>
    <p>1471 Allison Avenue</p><br>
    <p>Newport News, VA 23601</p><br><br>
    <p>Dear Mr. Kinsley</p><br>
    <p>RE: Invitation to attend Anniversary Gala</p>
    <p>It is my pleasure to extend the invitation to you on behalf of Global Sports Enterprise for celebrating our company’s 20th anniversary. On that occasion, we arrange a gala event on October 10, 2014.</p><br>
    <p>The gala is organized at the 5-star Metropolitan Hotel in downtown Atlanta; and as you are also a part of our journey, your presence is expected in the program. It would be my honor to welcome you in this event. I would like to thank you and Central Vision Inc for giving us your support over the past years and I hope your company has also enjoyed our collaboration. For strengthening our bonding, your presence is important to us.</p><br>
    <p>We look forward to see you at the event.</p><br>
    <p>Thank you.</p><br>
    <p>Yours Sincerely</p><br>
    <p>Abel Kennedy</p><br>
    <p>Event Manager</p><br>
  </div>
  <!--
    <div class="row">
    <div class="column1" style="background-color:rgba(0, 0, 0, 0.4);">
      <h3>Descriptions 1</h3><br>
      <p>Some text..</p>
    </div>
    <div class="column2" style="background-color:rgba(0, 0, 0, 0.4);">
      <h3>Descriptions 2</h3><br>
      <p>Some text..</p>
    </div>
  </div>
   -->
  <br><br>
</body>
</html>
