*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html, body{
  height: 100%;
}

.header {
  background: linear-gradient(#5650a4, #407ed7);
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px 10px;
}

.header a i{
  padding-left: 10px;
}
.header span{
  text-align: center;
  padding-left: 20px;
  color: white;
  font-weight: 550;
}

body {
  background-color: rgb(252, 252, 252);
  height: 100%;
  width: 100%;
  overflow: scroll;
 }
/* body {
  position: fixed;
  display: block;
  background-image: url("src/assets/image/image4.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: scroll;
 } */

 .img{
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(rgba(0, 217, 255, 0.747),rgba(255, 213, 0, 0));
}
.container h3{
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.container p{
  font-size: 15px;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

 * {
  box-sizing: border-box;
}

.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  border-radius: 20px 0px 0px 20px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  border-radius: 0px 20px 20px 0px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.row{
  display: block;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 90%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row h3{
  color: rgb(0, 0, 0);
}

.row p{
  color: rgb(0, 0, 0);
}
