*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html, body{
  height: 100%;
}

.header {
  background: linear-gradient(#5650a4, #407ed7);
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px 10px;
}

.header a i{
  padding-left: 10px;
}
.header span{
  text-align: center;
  padding-left: 20px;
  color: white;
  font-weight: 550;
}

.container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.event-container{
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: 0 auto;
}
.event-container h3.year{
  font-size: 40px;
  text-align: center;
  /* border-bottom: 1px solid #b1b1b1; */
}
.event-container .event{
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
  display: flex;
  border-radius: 8px;
  margin: 32px 0;
}
.event .event-left{
  background: linear-gradient(#5650a4, #407ed7);
  min-width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  padding: 8px 48px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 0 0 8px;
}
.event .event-left .date{
  font-size: 56px;
}
.evet .event-left .month{
font-size: 16px;
font-weight: normal;
}
.event .event-right{
display: flex;
flex-direction: column;
justify-content: center;
padding: 0 24px;
}
.event .event-right h3.event-title{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 24px;
margin: 24px 0 10px 0;
text-transform: uppercase;
color: #5650a4;
}
.event .event-right .event-timing{
background: #fff8ba;
display: flex;
align-items: center;
justify-content: center;
width: 100px;
padding: 8px;
border-radius: 16px;
margin: 24px 0;
font-size: 14px;
}
.event .event-right .event-timing img{
height: 20px;
padding-right: 8px;
}
@media (max-width: 550px){
.event{
flex-direction: column;
}
.event .event-left{
padding: 0;
border-radius: 8px 8px 0 0 ;
}
.event .event-left .event-date .date,
.event .event-left .event-date .month{
padding: 0;
}


}


.css-3d-text {
 text-align: center;
  font-size: 30px;
  color: #07e6ff88;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 0px 0px 0 rgb(-19,204,229),
               0px 1px 0 rgb(-45,178,203),
               0px 2px 0 rgb(-71,152,177),
               0px 3px 0 rgb(-96,127,152),
               0px 4px 0 rgb(-122,101,126),
               0px 5px 0 rgb(-148,75,100),
               0px 6px 0 rgb(-174,49,74),
               0px 7px 0 rgb(-200,23,48),
               0px 8px  0 rgb(-226,-3,22),
               0px 9px 8px rgba(245,208,208,0),
               0px 9px 1px rgba(245,208,208,0.5),
               0px 0px 8px rgba(245,208,208,.2);
}
