<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
</head>
<body>
  <div class="header">
    <!-- onclick="history.back()" -->
    <a routerLink="/background"
      ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
    ></a>
    <span>Events</span>
  </div><br>
  <h1 style="color:rgba(255, 255, 255, 0.731);text-align:center;">Event Title</h1>
  <img src="assets/image/event.jpg" alt="" class="img" />
  <div class="row">
    <div class="column1" style="background-color:rgba(0, 0, 0, 0.4);">
      <h3>Descriptions 1</h3><br>
      <p>Some text..</p>
    </div>
    <div class="column2" style="background-color:rgba(0, 0, 0, 0.4);">
      <h3>Descriptions 2</h3><br>
      <p>Some text..</p>
    </div>
  </div><br><br>
</body>
</html>
