<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <!-- onclick="history.back()" -->
        <a href=""
          ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
        ></a>
        <span>Sorsogon Tourism Spot</span>
      </div>
      <img src="assets/image/whale.jpg" alt="" class="img1" />
      <div class="content">
        <h4>Whale Shark</h4>
        <h5>Photo courtesy of More Fun In The Philippines</h5>
        <br />
        <p>
          <b>Donsol</b> is one of the best tourist spots in Sorsogon, a
          world-renowned site for whale shark watching and interaction tours.
          Whale sharks are rarely to be seen but onsite, the gentle giants are
          freely swimming and eating the abundant plankton and krill. The whale
          shark interaction tour is very affordable and should be arranged in
          Donsol Visitors Center. Tourists with snorkeling gears will aboard a
          boat with the boatmen, guide and spotter. The boat will be positioned
          to the site where the whale sharks are and tourists go swim with the
          4-12 feet harmless giants. February to May is the reported peak
          season.
        </p>
        <br />
        <h6>
          <i class="fa fa-map-marker" style="font-size: 20px; color: red"></i>
          Donsol Whale Shark Interaction Site is located in Barangay Dancalan,
          Donsol, Sorsogon.
        </h6><br>
      </div>




      <!--                           new line                     -->


      <img src="assets/image/beach.jpg" alt="" class="img1" />
      <div class="content">
        <h4>Whale Shark</h4>
        <h5>Photo courtesy of More Fun In The Philippines</h5>
        <br />
        <p>
          <b>Donsol</b> is one of the best tourist spots in Sorsogon, a
          world-renowned site for whale shark watching and interaction tours.
          Whale sharks are rarely to be seen but onsite, the gentle giants are
          freely swimming and eating the abundant plankton and krill. The whale
          shark interaction tour is very affordable and should be arranged in
          Donsol Visitors Center. Tourists with snorkeling gears will aboard a
          boat with the boatmen, guide and spotter. The boat will be positioned
          to the site where the whale sharks are and tourists go swim with the
          4-12 feet harmless giants. February to May is the reported peak
          season.
        </p>
        <br />
        <h6>
          <i class="fa fa-map-marker" style="font-size: 20px; color: red"></i>
          Donsol Whale Shark Interaction Site is located in Barangay Dancalan,
          Donsol, Sorsogon.
        </h6><br>
      </div>
    </div>
  </body>
</html>
<!--
*{
  box-sizing: border-box;
}
.slider{
  position: relative;
  width: 60%;
  overflow: hidden;
}
.slider .images img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 5%;
  border-radius: 10px;
}

.images{
  display: flex;
  width: 100%;
}

.images img{
  height: 400px;
  width: 100%;
  transition: all 0.15s ease;
}

.images input{
  display: none;
}

  <div class="slider">
      <div class="images">
        <input type="radio" name="slide" id="img2">
        <input type="radio" name="slide" id="img3">
        <input type="radio" name="slide" id="img4">
        <input type="radio" name="slide" id="img5">

        <img alt="img2" class="m2" src="assets/image/image1.jpg">
        <img alt="img3" class="m3" src="assets/image/image7.webp">
        <img alt="img4" class="m4" src="assets/image/image6.jpg">
        <img alt="img5" class="m5" src="assets/image/image5.webp">
      </div>
      <div class="dots">
        <label for="img2"></label>
        <label for="img3"></label>
        <label for="img4"></label>
        <label for="img5"></label>
      </div>
    </div>
-->
