<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
</head>
<body>
  <div class="header">
    <!-- onclick="history.back()" -->
    <a routerLink="/background"
      ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
    ></a>
    <span>Help</span>
  </div>

  <div class="container">
    <br>
    <h2>Frequently Ask Questions (FAQ)</h2><br>
    <h3>1. Do I have to pay anything?</h3>
    <p><i>Insert Description...</i></p><br>
    <h3>2. How can I download and install this App?</h3>
    <p><i>Insert Description...</i></p><br>
    <p style="color:black;">For Android User</p>
    <p><i>Insert Description...</i></p><br>
    <p style="color:black;">For iPhone User</p>
    <p><i>Insert Description...</i></p><br>
    <h3>3. How can I start using Sorsogon Tourism Guide App?</h3>
    <p><i>Insert Description...</i></p><br>
    <h3>4. How can I check the weather update?</h3>
    <p><i>Insert Description...</i></p><br>
    <h3>5. How can I check the attraction?</h3>
    <p><i>Insert Description...</i></p><br>
    <h3>6. How can I check the accomodations?</h3>
    <p><i>Insert Description...</i></p><br>
    <h3>7. What is M.I.C.E Venue?</h3>
    <p><i>Insert Description...</i></p><br>
    <h2>Contact Us</h2>
    <p>If you have any questions or suggestions about our Privacy Poliicy, do not hesitate to contact us.</p><br><br>
    <div class="button">
      <a routerLink="/contact">CONTACT US</a>
    </div>
  </div>
</body>
</html>
