<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">

      <div class="header">
        <!-- onclick="history.back()" -->
        <a routerLink="/visit2"
          ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
        ></a>
        <span>Sorsogon Tourist Spot</span>
      </div>

      <img src="assets/image/pulog1.jpg" alt="" class="img1" />
      <div class="content">
        <h4>Mt. Pulog, Sorsogon</h4>
        <h5>Photo courtesy</h5>
        <br />
        <p>
           Beautifully lush and forested, ensconced in the mountain ranges of Sorsogon facing the Pacific, and best of all, dayhikable from Legazpi City, <b>Mt. Pulog</b> in the municipality of Bacon is one of Bicol’s best-kept hiking secrets. It is, of course, not to be mistaken with Mt. Pulag, the famous highest mountain in Luzon, which is also sometimes pronounced Pulog, and therefore spelled as such.
          Mt. Pulog is one of several dayhikes that can be staged from Legazpi City. In April 2011, Iron Lady Jo Steven and I dayhiked six mountains in one week, all staged from Legazpi: Asog, Malinao, Masaraga, Mayon (yes, it can be dayhiked via the New Trail), Binanderahan in Rapu-Rapu, and Pulog. You just have to take an early morning bus to Sorsogon City, and from there, take a jeepney to Bacon and ask to be dropped off at Brgy. Sta. Cruz, where you can get a guide.
          At first, you walk through rural woodlands where abaca and pili are common sights; ask your guide if the native, sour fruit called hagis is in season – it is a nice trail food! After 1-1.5 hours, you will be in the Campsite, which offers good views of the Pacific ocean and of the town of Bacon. This is the halfway point in the trail.
          Past this wide campsite, the trail gets steeper, and you begin to enter a forest reminscent of Mt. Cristobal and somewhat of Mt. Makiling. After another 1-1.5 hours, you will emerge from the forest into a “cogonal field” that is again reminiscent of Jones’ Peak in Mt. Cristobal or the summit of Mt. Iraya in Batanes. From here, you can see beautiful views of the outlying towns.
          However, the main attraction at the summit (babaw) is Pulog lake (danum); since both are called Pulog, it is useful to refer to them with the bracketed terms. It is almost perfectly round, and a traverse going to the lake is very possible – and manageable within a dayhike, especially if the weather is good. This traverse will eventually end up in the adjacent Brgy. San Juan.
          Mt. Pulog is really a nice dayhike in the Bicol Region – and if you have time to spare, spending a night at the Campsite is also a good idea. Considering the volatility of the other hiking attraction in Sorsogon – Bulusan Volcano – Mt. Pulog is also a good fallback in case you cannot climb it. Hence, it is good to have Mt. Pulog in mind whenever you contemplate going to Bicol for some hiking.
        </p>
        <br><br>
        <h6>
          <i class="fa fa-map-marker" style="font-size: 20px; color: red"></i>
          MT. PULOG Bacon, Sorsogon
        </h6>

        <br>

        <div class="wrapper">
          <input type="radio" name="image-slide" checked="checked">
          <picture>
            <img src="assets/image/pulog3.jpg" alt="Random Picture 1">
          </picture>

          <input type="radio" name="image-slide">
          <picture>
            <img src="assets/image/pulog2.jpg" alt="">
          </picture>

          <input type="radio" name="image-slide">
          <picture>
            <a>
              <img src="assets/image/pulog5.jpg" alt="">
            </a>
          </picture>

          <input type="radio" name="image-slide">
          <picture>
            <img src="assets/image/pulog1.jpg" alt="">
          </picture>

          <input type="radio" name="image-slide">
          <picture>
            <img src="assets/image/pulog4.jpg" alt="">
          </picture>
        </div>
        <a href="https://www.google.com/maps/place/Mt.+Pulog/@13.0420529,123.945406,14z/data=!4m9!1m2!2m1!1smount+pulog+sorsogon!3m5!1s0x33a0f107ade5a2b5:0x7121d213bc451c0f!8m2!3d13.0420529!4d123.978365!15sChRtb3VudCBwdWxvZyBzb3Jzb2dvbpIBC2hpa2luZ19hcmVh4AEA?hl=en">
          <button class="button1">VIEW MAP</button>
        </a>
      </div>
    </div>
  </body>
</html>

