<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/ce07af854c.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/ce07af854c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="header">
      <!-- onclick="history.back()" -->
      <a routerLink="/background"
        ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
      ></a>
      <span>Calendar of Event</span>
    </div>

    <div class="container">
      <br /><br />
      <div class="event-container">
        <div class="css-3d-text">Upcoming event in 2022</div>
        <br /><br />
        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <div class="date">17</div>
              <div class="month">May</div>
            </div>
          </div>

          <div class="event-right">
            <h3 class="event-title">Street & Dance Competition</h3>
            <div class="event-description">
              A festival which ushers in the Butanding (Whaleshark) Season as
              well as a thanksgiving for the blessings that the butanding’s
              presence has given the people of Donsol. The festival is
              highlighted by a street parade.
            </div>
            <div class="event-description-place">@ Donsol, Sorsogon</div>
            <div class="event-timing">
              <img src="assets/image/clock.jpg" alt="" />1:00pm
            </div>
          </div>
        </div>
      </div>
      <!-- Second -->
      <div class="event-container">
        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <div class="date">19</div>
              <div class="month">May</div>
            </div>
          </div>

          <div class="event-right">
            <h3 class="event-title">Drum and Lyre Competition</h3>
            <div class="event-description">
              A festival which ushers in the Butanding (Whaleshark) Season as
              well as a thanksgiving for the blessings that the butanding’s
              presence has given the people of Donsol. The festival is
              highlighted by a street parade.
            </div>
            <div class="event-description-place">@ Sorsogon City</div>
            <div class="event-timing">
              <img src="assets/image/clock.jpg" alt="" /> 8:00pm
            </div>
          </div>
        </div>
      </div>
      <!-- Third -->
      <div class="event-container">
        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <div class="date">28</div>
              <div class="month">June</div>
            </div>
          </div>

          <div class="event-right">
            <h3 class="event-title">Pili Street Dancing Competition</h3>
            <div class="event-description">
              Pili is an indigenous crop of the Bicol region, particularly
              Sorsogon. Coinciding with the city’s patronal fiesta, the festival
              showcases the Pili, known as “The Majestic Tree” because of its
              myriad economic uses. A street dance presentation, a highlight of
              the festival, presents the three growth stages of the Pili, from
              green (young fruit) to violet (half-mature) to black (mature). The
              Pili nut is being processed into different kinds of sweets and
              delicacies.
            </div>
            <div class="event-description-place">@ Sorsogon City</div>
            <div class="event-timing">
              <img src="assets/image/clock.jpg" alt="" /> 1:00pm
            </div>
          </div>
        </div>
      </div>
      <!-- Fourth -->
      <div class="event-container">
        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <div class="date">28</div>
              <div class="month">September</div>
            </div>
          </div>

          <div class="event-right">
            <h3 class="event-title">Hin-ay Street Dancing Competition</h3>
            <div class="event-description">
              This festival is a commemoration of the feast day of the town’s
              patron, St. Michael the Archangel, and at the same time a
              rediscovery of the town’s cultural heritage. The festival traces
              the struggles of the people of Irosin at various stages of its
              history and aims to renew the enthusiasm in community building.
              Various activities include the Mardi Gras, which depicts the
              victory of the Archangels over the Black Angel, cultural show,
              agro-trade fair, beauty pageant, food festival, among others.s
            </div>
            <div class="event-description-place">@ Irosin, Sorsogon</div>
            <div class="event-timing">
              <img src="assets/image/clock.jpg" alt="" /> 1:00pm
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
