*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html, body{
  height: 100%;
}

.header {
  background: linear-gradient(#5650a4, #407ed7);
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px 10px;
}

.header a i{
  padding-left: 10px;
}
.header span{
  text-align: center;
  padding-left: 20px;
  color: white;
  font-weight: 550;
}

.container{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.container h3{
  font-size: 20px;
  font-weight: 400;
  -webkit-text-decoration-line: overline underline; /* Safari */
   text-decoration-line: overline underline;
   color: rgb(255, 102, 0);
}

.container p{
  font-size: 15px;
  color: gray;
}

video{
  display: block;
  width: 100%;
  height: 100%;
}
