<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

  </head>
  <body>

      <div class="header">
        <!-- onclick="history.back()" -->
        <a routerLink="/background"
          ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
        ></a>
        <span>Videos</span>
      </div>

      <div class="container">
          <video id="singleVideo" preload="auto" width="50%" height="50%" controls>
            <source src="assets/video/video2.mp4" type="video/mp4">
          </video><br>
          <h3>Sorsogon Tourist Spot</h3>
      <p><em>September 09,2022</em></p><br>
      <p>
        <em>
          <b>Sorsogon</b> is a province in the Philippines in Bicol Region situated in the southernmost tip of Luzon Island blessed with extraordinary tourist spots. Geographically advantaged, the province is one of the most popular eco-tourism destination of the country for its whale shark interaction, scuba diving, surfing and island hopping tours. It also has lagoons, lakes and mountain peaks for outdoor adventures. After all the travels, visitors may relax at the cold and hot springs in one of its towns.
        </em>
      </p>
      </div>


  </body>
</html>
