<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="header">
      <!-- onclick="history.back()" -->
      <a routerLink="/background"
        ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
      ></a>
      <span>Where to Stay</span>
    </div>
<img src="assets/image/logo3.png" alt="" class="img">
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/hotel1.jpg" alt="" class="img1" >
          <h5>HOTELS
            <p><em> Insert details about Hotels...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/hotel2.jpg" alt="" class="img1" >
          <h5>LOGING HOUSES
            <p><em> Insert details about Hotels...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/hotel3.jpg" alt="" class="img1" >
          <h5>CONDOHOTELS
            <p><em> Insert details about Hotels...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/hotel4.jpg" alt="" class="img1" >
          <h5>HOMEHOTELS
            <p><em> Insert details about Hotels...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/hotel5.jpg" alt="" class="img1" >
          <h5>APARTELLES
            <p><em> Insert details about Hotels...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/hotel6.jpg" alt="" class="img1" >
          <h5>GUEST HOUSES
            <p><em> Insert details about Hotels...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/hotel7.jpg" alt="" class="img1" >
          <h5>DORMITORIES
            <p><em> Insert details about Hotels...</em></p>
          </h5>
        </div>
      </div>
    </a>
    <a>
      <div class="container">
        <div class="box">
          <img src="assets/image/hotel8.jpg" alt="" class="img1" >
          <h5>LESSORS
            <p><em> Insert details about Hotels...</em></p>
          </h5>
        </div>
      </div>
    </a><br>
  </body>
</html>
