<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="header">
      <!-- onclick="history.back()" -->
      <a routerLink="/background"
        ><i class="fa fa-arrow-left" style="font-size: 20px; color: white"></i
      ></a>
      <span>Settings</span>
    </div>
    <img src="assets/image/applogo.png" alt="" class="img1">
    <img src="assets/image/logo3.png" alt="" class="img">
    <p style="text-align: center;font-size: 15px;">Version 2.0</p>
    <p style="text-align: center">loading...</p>
    <div class="container">

      <br />
      <button>UPDATE</button><br><br>
      <div class="row">
        <div class="column1">
          <p>Where to Stay</p><br>
          <p>Meetings and Events</p><br>
          <p>Where to Eat</p><br>
          <p>Health and Willness</p><br>
          <p>Local Product</p><br>
          <p>Transport Services</p><br>
        </div>
        <div class="column2">
          <p>0</p><br>
          <p>0</p><br>
          <p>0</p><br>
          <p>0</p><br>
          <p>0</p><br>
          <p>0</p><br>
        </div>
      </div>
      <br />
      <div class="status">
        <div class="stat1">
          <h3 style="font-weight: 500;">Status</h3>
            <p style="font-size: 15px;">loading...</p>
        </div>
        <div class="stat2">
          <p>UPDATE</p>
        </div>
      </div>
      <br />
      <h2 style="font-size: 20px;font-weight: 500;"><a routerLink="/privacy">Privacy Policy</a></h2>
      <br />
      <h2 style="font-size: 20px;font-weight: 500;"><a routerLink="/terms">Terms and Conditions</a></h2>
      <br />
      <h2 style="font-size: 20px;font-weight: 500;"><a routerLink="/credits">Credits and Sponsors</a></h2>
      <br />
      <h2 style="font-size: 20px;font-weight: 500;"><a routerLink="/contact">Contact Us</a></h2>
      <br />
    </div>
  </body>
</html>
